* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Acme", sans-serif;
}

header h1 {
  color: #29b1dd;
}
header h3 {
  text-align: center;
}

header > .filters {
  background-color: #29b1dd;
  height: 70px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
}
main {
  background-color: #dddddd;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: auto;
  justify-content: space-between;
}
.card {
  width: 250px;
  height: 100px;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px #0000004d;
  margin: 0 80px 100px 0;
}
.card i {
  font-size: 2rem;
  padding-bottom: 5px;
}
.text {
  font-size: 0.8rem;
  font-weight: bold;
}
.blue {
  color: #0000ff;
}
.orange {
  color: #ffa500;
}
.purple {
  color: #800080;
}
